USE [master]
GO
Drop database if exists db_Timeline;
go
/****** Object:  Database [db_Timeline]    Script Date: 16/06/2021 12.49.46 ******/
CREATE DATABASE [db_Timeline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_Timeline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_Timeline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_Timeline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_Timeline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_Timeline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_Timeline]
GO
/****** Object:  Table [dbo].[tbl_Notebank]    Script Date: 16/06/2021 12.49.46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Notebank](
	[fldNotebankID] [int] NOT NULL,
	[fldNotebankSaveFile] [varbinary](max) NOT NULL,
	[fldNotebankTitle] [nchar](30) NOT NULL,
 CONSTRAINT [PK_tbl_Notebank] PRIMARY KEY CLUSTERED 
(
	[fldNotebankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Project]    Script Date: 16/06/2021 12.49.46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Project](
	[fldProjectId] [int] NOT NULL,
	[fldProjectSaveFile] [varbinary](max) NOT NULL,
	[fldProjectTitle] [nchar](30) NOT NULL,
 CONSTRAINT [PK_tbl_Project] PRIMARY KEY CLUSTERED 
(
	[fldProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
